@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');

.aboutcontainer {
    /* margin-top: -400px; */
    background-color: #523592;
    /* align-items: stretch; */
    border:250px solid #523592;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 35vh;
    position:relative;
    gap: 7rem;
    border-radius: 0px 0px 20px 20px;

}

.left {
    margin-left: -100px;
    color: white;
}

.left1 pre {
    font-size: 20px;
    font-family: Poppins, sans-serif;
    line-height:  30px;
}

.left1 {
    margin-top: 10px;
}

.left h1 {
    font-size: 80px;
    margin-bottom: 10px;
}

.right {
    margin-left: 100px;
}

.tab {
    margin-left: 50px;
}