.container {
    background-color: #523592;
    align-items: stretch;
    border:250px solid #523592;
    align-items: center;
    justify-content: space-between;
    height:650px;
    position:relative;    
    margin-top: -400px;
}

.con {
    margin-top: -230px;
    margin-left: -150px;
}