.container {
    background-color: #3A1E78;
    align-items: stretch;
    border:200px solid #3A1E78;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    border-width: 0ch;
    list-style: none;
    height: 500px;
}

.container ul {
    list-style: none;
    display:flex;
    align-items: center;
    float: right;
    color: white;
    margin-top: -230px;
}

.container Button {
    color: white;
    font-size: 16px;
    font-family: Poppins,sans-serif;
}

.container h6 {
    color: #903FB7;
    font-size: 25px;
    line-height: 15px;
    word-spacing: -2px;
    font-family: inter, sans-serif;
    margin-top: auto;
}

.container span {
    color: #67CDA2;
    font-size:16px;
}

.container span1 {
    font-size: 16px;
}

.main {
    margin-right: 200px;
}

.hover {
    display: flex;
    margin-left: 400px;
}

.sign Button {
    width: 113px;
    height: 41px;
    background-color: #67CDA2;
    color: black;
    border-radius: 8px;
    margin-top: 10px;
}

.out {
    margin-top: -30px;
    margin-left: -10px;
}

.dropdown {
    position: relative;
    display: inline-block;
    height: 100px;
}
  
.content {
    display: none;
    position: absolute;
    background-color: #3A1E78;
    width: 200px;
    z-index: 999;
}
  
.content Button {
    color: white;
    text-decoration: none;
    display: block;
    position: relative;
    text-align: right;
    margin-top: 10px;
}

.content Button:hover {
    background-color: #3A1E78;
}
  
.dropdown:hover .content {
    display:block;
}

.content1 {
    display: none;
    position: absolute;
    background-color: #3A1E78;
    width: 140px;
    z-index: 999;
}
  
.content1 Button {
    color: white;
    text-decoration: none;
    display: block;
    position: relative;
    text-align: right;
    margin-top: 10px;
    margin-left: -50px;
}

.content1 Button:hover {
    background-color: #3A1E78;
}

.dropdown:hover .content1 {
    display:block;
}