.container {
    background-color: white;
    align-items: stretch;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:950px;
}

.right{
    background-color: #4D3592;
    height: 950px;
    width: 1000px;
}

.left{
    margin-left: 200px;
}

.right1 {
    margin-left: 300px;
    margin-top: 100px;
}

.pf Button {
    background-color: #67CDA2;
    width: 200px;
    height: 40px;
    color: white;
    font-size: 20px;
    border-radius: 0px;
    margin-left: 40px;
    margin-top: 10px;
}

.right p {
    font-size: 20px;
}

.spread {
    display: flex;
    justify-content: space-between;
    margin-left: -150px;
    align-items: center;
}

.spread input {
    margin-right: 300px;
    background-color: white;
    width: 262px;
    height: 27px;
}

.last Button {
    width: 127px;
    height: 43px;
    border-radius: 7px;
    background-color: #67CDA2;
    color: white;
    font-size: 20px;
    margin-left: 70px;
    margin-top: 10px;
}