.container {
    background-color: #523592;
    align-items: stretch;
    border:250px solid #523592;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:1000px;
    position:relative;
}

.right ul {
    background-color: white;
    width: 827px;
    height: 657px;
    margin-right: -150px;
    border-radius: 22px;
}

.left h1 {
    font-size: 40px;
}

.left h4 {
    font-size: 24px;
}

.left p {
    font-size: 20px;
}

.prior {
    display: flex;
}

.prior Button{
    width: 145px;
    height: 42px;
    background-color: #67CDA2;
    border-radius: 8px;
    margin-right: 10px;
}

.class {
    background-color: #9A9292;
    width: 180px;
    height: 35px;
    color: white;
    margin-left: 70px;
    margin-bottom: 20px;
}

.class p {
    margin-left: 28px;
}

.left h1{
    margin-left: 10px;
}

.left {
    margin-left: -100px;
    margin-top: -40px;
}