.container {
    background-color: white;
    align-items: stretch;
    border:150px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    height: 10px;

}

.container h5 {
    font-family: Poppins, sans-serif;
    font-size: 32px;
    line-height: 15px;
    word-spacing: -35px;
    margin-bottom: 30px;
    margin-top: -100px;
}

.container p {
    font-family: Poppins, sans-serif;
    font-size: 20px;
    line-height: 30px;
    word-spacing: -2px;
}